.compCont3 {
  padding: 0;
  margin: 0;
  width: 83%;
  height: 100%;
}

.motosComp {
  display: flex;
  flex-direction: row;
  background: rgb(248, 248, 248);
}


@media (max-width: 1050px) {
  .compCont3 {
    width: 100%;
  }

  .motosComp {
    display: block;
  }
}
