
.formContainer h2 {
  color: white;
  font-family: 'Big Shoulders Stencil Text', cursive;
  letter-spacing: 10px;
  padding-bottom: 20px;
  text-align: center;
}

.formContainer {
  width:700px;
}

.formContainer p {
  color: white;
  text-align: center;
}

.selectFilter {
background: rgb(130, 161, 17);
color: white;
width: 200px;
height: 40px;
font-size: 17px;
font-weight: bolder;
border: none;
border-radius: 50px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
transition: ease-in-out 0.5s;
}

.filter::placeholder {
  color: white;
  text-align: center;
}

.booknow {
  background: white;
  color: rgb(130, 161, 17);
  width: 100px;
  height: 40px;
  font-size: 17px;
  font-weight: bolder;
  border: none;
  border-radius: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: ease-in-out 0.5s;
}

.booknow:hover {
  transform: scale(1.1);
}

.formC {
  
  text-align: center;
}

.formC input, .formC select{
  margin-left: 10px;
  cursor: pointer;  
}

.btnCont {
  margin: 20px auto;
  text-align: center;
}