.cardMoto {
    width: 220px;
    height: 350px;
    margin: 50px;
    
    border-radius: 7px;
    text-align: center;
    position: relative;
    
}

.circleCont:hover {
    transform: scale(1.1);
}
  
.imgCont {
    width: 210px;
    border-radius: 50px;
    
}

.circleCont {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: rgb(218, 216, 216);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.5s;
}
  
a {
    text-decoration: none;
    color: black;
}

.description {
    color:rgb(168, 167, 167);
    font-family: Arial;
    font-size: 12px;
}

.description:hover {
    color: black;
}

.iconsC {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.iconsC div {
    width:30px;
    height: 30px;
    border: 1px solid  rgb(202, 198, 198);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px
}

.iconsC div:hover {
    
    color: grey;
    transform: scale(1.1);
}

.iconsC div i {
    color: rgb(202, 198, 198);
}

.iconsC div i:hover {
    color: grey;

}