.table1 {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table1 td,
.table1 th {
  text-align: left;
  padding: 8px;
}

.table1 tr:nth-child(even) {
  background-color: #ddd;
}
